{% extends "base.html.twig" %}

{% block title %}Le coin des enfants{% endblock %}
{% block class %}childrens{% endblock %}

{% block body %}
    <section class="title">
        <div class="section-title bg-3 mt-5 mb-5">
            <div class="container">
                <p class="text-center">Le coin des enfants</p>
            </div>
        </div>
    </section>
    <section class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <a href="{{ path('app_page_articles', {'category_label': 'activités'}) }}">
                        <div class="card bg-4 border-0 p-3 zoom-on-hover">
                            <div class="card-body text-center">
                                <h5>Activités</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb-3">
                    <a href="{{ path('app_page_articles', {'category_label': 'recettes'}) }}">
                        <div class="card bg-3 border-0 p-3 zoom-on-hover">
                            <div class="card-body text-center">
                                <h5>Recettes</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb-3">
                    <a href="{{ path('app_page_articles', {'category_label': 'dessins'}) }}">
                        <div class="card bg-2 border-0 p-3 zoom-on-hover">
                            <div class="card-body text-center">
                                <h5>Dessins</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb-3">
                    <a href="{{ path('app_page_articles', {'category_label': 'projets'}) }}">
                        <div class="card bg-5 border-0 p-3 zoom-on-hover">
                            <div class="card-body text-center">
                                <h5>Projets</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}