{% extends "base.html.twig" %}

{% block title %}Le coin des enfants{% endblock %}
{% block class %}childrens{% endblock %}

{% block body %}
    <section class="title">
        <div class="section-title second-color mt-5 mb-5">
            <div class="container">
                <p class="text-center">Le coin des enfants</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <div class="card bg-4 border-0 p-3 zoom-on-hover">
                        <div class="card-body text-center">
                            Activités
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card bg-3 border-0 p-3 zoom-on-hover">
                        <div class="card-body text-center">
                            Recettes
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card bg-2 border-0 p-3 zoom-on-hover">
                        <div class="card-body text-center">
                            Dessins
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-5 border-0 p-3 zoom-on-hover">
                        <div class="card-body text-center">
                            Projets
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}