{% extends "base.html.twig" %}

{% block title %}Informations{% endblock %}
{% block class %}informations{% endblock %}

{% block body %}
    <section class="title">
        <div class="section-title third-color mt-5 mb-5">
            <div class="container">
                <p class="text-center">Infos pratiques</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
        
        </div>
    </section>
{% endblock %}