{% extends "base.html.twig" %}

{% block title %}Informations{% endblock %}
{% block class %}informations{% endblock %}

{% block body %}
    <section class="title">
        <div class="section-title third-color mt-5 mb-5">
            <div class="container">
                <p class="text-center">Infos pratiques</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            {{ informations.content|raw }}
        </div>
    </section>
    <section class="title">
        <div class="section-title second-color mt-5 mb-5">
            <div class="container">
                <p class="text-center">Documents à télécharger</p>
                
            </div>
        </div>
    </section>
    <section class="mb-5">
        <div class="container">
            <div class="row">
            {% for document in documents %}
                <div class="col-3">
                    <a href="{{ asset('uploads/doc/' ~ document.documentSource ) }}" download class="btn btn-outline-success w-100 rounded-pill">{{ document.label }}</a>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}