{% extends "base.html.twig" %}

{% block title %}Informations{% endblock %}
{% block class %}informations{% endblock %}

{% block body %}
    <section class="title">
        <div class="section-title bg-4 mt-5 mb-5">
            <div class="container">
                <p class="text-center">Infos pratiques</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            {{ informations.content|raw }}
        </div>
    </section>
    <section class="title">
        <div class="section-title bg-3 mt-5 mb-5">
            <div class="container">
                <p class="text-center">Documents à télécharger</p>
                
            </div>
        </div>
    </section>
    <section class="mb-5">
        <div class="container">
            <div class="row">
            {% for document in documents %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow mb-3">
                        <div class="row g-0">
                            <div class="col-4 green-text p-4">
                                {% include('icons/paperclip.html.twig') %}
                            </div>
                            <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ document.label }}</h5>
                                <a href="{{ asset('uploads/doc/' ~ document.documentSource ) }}" class="btn btn-success" target="_blank">Ouvrir</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}