{% extends "base.html.twig" %}

{% block title %}Informations{% endblock %}
{% block class %}informations{% endblock %}

{% block body %}
{# infos pratiques #}
    <section class="title">
        <div class="section-title bg-2 mt-5 mb-5">
            <div class="container">
                <p class="text-center">Mentions légales</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="mb-5">
                <h6 class="fw-bold fs-3">Editeur du site internet / Responsable de publication</h6>
                <p>Association En Avant Ton Aventure</p>
                <p>Maison de l'enfance</p>
                <p>3 rue de la poste</p>
                <p>86170 AVANTON</p>
                <p>SIREN : </p>
            </div>
            <div class="mb-5">
                <h6 class="fw-bold fs-3">Hébergeur du site</h6>
                <p>Hostinger</p>
            </div>
        </div>
    </section>

{% endblock %}