{{ form_start(form) }}
    <div class="mb-3">
        {{ form_widget(form.content) }}
    </div>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
