{{ form_start(form) }}
    <div class="mb-3">
        {{ form_widget(form.content) }}
    </div>
    <button class="btn btn-outline-dark">{{ button_label|default('Modifier') }}</button>
{{ form_end(form) }}
