{% extends 'admin/dashboard.html.twig' %}

{% block title %}Modifier information{% endblock %}

{% block content %}
    <h3>Description</h3>

    {{ include('information/_form.html.twig') }}

{% endblock %}
