<footer>
    <div class="container">
        <ul>
            <li>Adresse</li>
            <li>Téléphone</li>
            <li>Mail</li>
            <li>Mentions légales</li>
            <li>Contact</li>
            
            <li>
                <a href="./page/dashboard">Administration</a>
            </li>
            <li>
                <a href="./admin/logout">Deconnexion</a>
            </li>
            <li>
                <a href="./page/connexion">Connexion</a>
            </li>
        </ul>
    </div>
</footer>
