{% extends 'admin/dashboard.html.twig' %}

{% block title %}Administration{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">Association</li>
{% endblock %}

{% block content %}
    <h3>Association</h3>
    <div class="row">
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_information_edit', {'label': 'app_page_association_description'}) }}">
                <div class="card bg-4 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Description
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_teammate_index', {'category_label': 'association'}) }}">
                <div class="card bg-1 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Equipe association
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_information_edit', {'label': 'app_page_association_informations'}) }}">
                <div class="card bg-2 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Informations
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_document_index', {'category_label': 'association'}) }}">
                <div class="card bg-3 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Documents
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}