{% extends 'admin/dashboard.html.twig' %}

{% block title %}Administration{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_informations') }}" class="text-dark">Infos pratiques</a></li>
{% endblock %}

{% block content %}
    <h3>Infos pratiques</h3>
    <div class="row">
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_information_edit', {'label': 'app_page_infospratiques_informations'}) }}">
                <div class="card bg-4 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Informations
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_document_index') }}">
                <div class="card bg-1 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Documents
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}