{% extends 'admin/dashboard.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
    <h3>L'accueil de loisirs</h3>
    <div class="row">
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_information_edit', {'label': 'app_page_loisirs_description'}) }}">
                <div class="card bg-4 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Description
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_teammate_index', {'category': 'loisirs'}) }}">
                <div class="card bg-1 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Equipe loisirs
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_information_edit', {'label': 'app_page_loisirs_time'}) }}">
                <div class="card bg-2 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Horaires
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_admin_loisirs_list') }}">
                <div class="card bg-3 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Tarifs
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}