{% extends 'admin/dashboard.html.twig' %}

{% block title %}Administration{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">Le coin des parents</li>
{% endblock %}

{% block content %}
    <h3>Le coin des parents</h3>
    <div class="row">
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_article_index', {'category_label': 'bons plans'}) }}">
                <div class="card bg-4 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Bons plans
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_article_index', {'category_label': 'conseils'}) }}">
                <div class="card bg-1 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Conseils
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_article_index', {'category_label': 'évènements'}) }}">
                <div class="card bg-2 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Evènements
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{{ path('app_article_index', {'category_label': 'album photos'}) }}">
                <div class="card bg-3 border-0 p-3 zoom-on-hover">
                    <div class="card-body text-center">
                        Album photos
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}