footer{
    background-color: $color-5;
    color: $light-text;

    ul{
        padding: 20px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            color: $light-text;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}