@font-face {
    font-family: 'Cookie';
    src: url("../../font/Cookie/Cookie-Regular.ttf");
}
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url("../../font/Nunito/Nunito-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Londrina Solid';
    src: url("../../font/Londrina_Solid/LondrinaSolid-Regular.ttf");
}

// // fonts
$title-font: 'Cookie';
$text-font: 'Nunito', sans-serif;
$section-title-font: 'Londrina Solid';

// colors
$color-1: #FF595E;
$color-2: #FFCA3A;
$color-3: #8AC926;
$color-4: #1982C4;
$color-5: #6A4C93;

$light-text: white;
$dark-text: black;

$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

.red-text{
    color: $color-1
}
.yellow-text{
    color: $color-2
}
.green-text{
    color: $color-3
}
.blue-text{
    color: $color-4
}
.purple-text{
    color: $color-5
}