{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<section>
    <div class="container">
        <p>Page introuvable</p>
    </div>
</section>

{% endblock %}