{% extends 'admin/dashboard.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block content %}
    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
