{% extends 'admin/dashboard.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block content %}
    <h3>Modifier un article</h3>

    {{ include('article/_form.html.twig', {'button_label': 'Valider'}) }}

    {{ include('article/_delete_btn.html.twig') }}
{% endblock %}
