{% extends 'admin/dashboard.html.twig' %}

{% block title %}Créer article{% endblock %}

{% block content %}
    <h3>Ajouter un article</h3>

    {{ include('article/_form.html.twig') }}
    
{% endblock %}
