{% extends 'admin/dashboard.html.twig' %}

{% block title %}Edit Teammate{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3>Modifier {{ teammate.firstname ~ ' ' ~ teammate.lastname }}</h3>
        {{ include('teammate/_form.html.twig') }}
        {{ include('teammate/_delete_btn.html.twig') }}

    </div>
</div>

    
{% endblock %}
