{% extends 'admin/dashboard.html.twig' %}

{% block title %}New Teammate{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h3>Créer un nouveau membre d'équipe</h3>
            {{ include('teammate/_form.html.twig', {'button_label': 'Créer'}) }}
        </div>
    </div>

{% endblock %}
